
  

  
  .login-box {
    display: flex;
    flex-direction: row;
    background-color: #2c2c3b;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .login-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .stats-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
  }
  
  .stat {
    text-align: center;
  }
  
  .form-container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1c1c2b;
    border-radius: 8px;
  }
  
  .welcome-text {
    margin-bottom: 16px;
    text-align: center;
  }
  
/* LoginPage.css */
.login-button {
  background-color: #4B7FBF; /* Change this to the bluish color you prefer */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #3a6aa8; /* Slightly darker blue for hover effect */
}

  
  .social-button {
    margin: 0 10px;
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;
  }
  
  .social-button:hover {
    color: #3c33e0;
  }
  