.problem-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    /* Light background color for the page */
  }
  
  
  
.timer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #2d2d2d;
  border-radius: 5px;
  width: fit-content;
}

.clock-icon {
  margin-right: 10px;
  color: #ffcc00; /* You can change the color to your preference */
}