body {
    background: linear-gradient(180deg, #2e3b4e, #3e4f6b); /* Updated background gradient */
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    background: #1c1e24;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
  }
  
  .form-container h2 {
    text-align: center;
    color: #ffffff;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-input,
  .form-textarea {
    background: #2e3b4e;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    color: #ffffff;
    width: 100%;
  }
  
  .form-input::placeholder,
  .form-textarea::placeholder {
    color: #aaa;
  }
  
  .form-button {
    background: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px;
  }
  
  .form-button:hover {
    background: #0056b3;
  }
  
  .delete-button {
    background: #d9534f;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
  }
  
  .delete-button:hover {
    background: #c9302c;
  }
  
  textarea {
    resize: vertical;
  }
 

